*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.devProcess/topstreamsCardHTML.txt
.devProcess/topstreamsHTML.txt
.github/prompts/app.prompt.md
.github/prompts/features.prompt.md
.vscode/app.prompt.md
app/.gitignore
app/release.keystore
